div#content{
    div.nav-buttons{
        height: 60px;
        width: 100%;
        background-color:#4e67cf;
    }

	section{
		margin: 70px 0;
	}

	section:first-child{
		margin-top: 25px;
	}


	section#produtos{
		article.acomodacoes{
			div.content{
				padding:20px 10px;
				background-color:#4e67cf;
				color:white;

				h4{
					margin: 0;
				}
				a{
					display: inline-block;
					color: white;
					margin: 5px 0;
					border: 1px solid white;
					padding:10px 50px;
					background-color:#4e67cf;
				}	
				a:hover{
					background-color:#a6b3e7;
				}			
			}
		}
		div.localizacao{
			div.localizacao-left{
				color:white;
				background-color:#4e67cf;
				padding:96px 30px;

				h2{
					color:white;
				}
			}
		}
	}

	section#info{
		background-image: url("images/background-sobre.jpg");
	    background-repeat: no-repeat;
	    background-position: center; 
		background-size: 100%;
	    width: 100%;
	    padding:100px 0;

	    div.container{
	    	div.info-left{
	    		background-color:#fff40e;

	    		div.info-content{
	    			padding:117px 50px;
	    			img{
	    				margin: 0 auto;
	    			}
	    		}
	    	}

	    	div.info-right{
	    		background-color:white;

	    		div.info-content{
	    			padding:80px 30px;
	    		}
	    	}
	    }
	}

	section#redes-bot{

		.redes_sociais_bot{
			margin-bottom: 5px;
			height:67px;
			text-align: left;
			list-style:none;
			margin: 0 auto;
			margin-top: 30px;
			width: 310px;
			padding:0;
		}

		.redes_sociais_bot li:hover{
		    opacity: 0.6;
		    filter: alpha(opacity=60); /* For IE8 and earlier */
		}

		.redes_sociais_bot a{
			display: inline-block;
			width:67px;
			height:67px
		}

		.redes_sociais_bot .youtube{
			background-image: url("images/redes_bot.jpg");
			background-position: left,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .instagram{
			background-image: url("images/redes_bot.jpg");
			background-position: -80px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .twitter{
			background-image: url("images/redes_bot.jpg");
			background-position: -160px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .facebook{
			background-image: url("images/redes_bot.jpg");
			background-position: right,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}
	}
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
